@import "~styles/foundation";
@import "~styles/colors";

.anonymous-user-icon {
  color: $medium-tint;
  font-size: rem-calc(24);
  overflow: hidden;
  width: rem-calc(34);
  height: rem-calc(34);
  border: rem-calc(2) solid $neutral-tint;
  border-radius: 100%;
  overflow: hidden;
  display: block;
  text-align: center;
}
[class^=wg-].anonymous-user-icon {
  line-height: rem-calc(37);
}
