@import "~styles/foundation";
@import "~styles/colors";

.user-label-with-icon {
  position: relative;
}
.icon {
  float: left;
  margin-right: rem-calc(7);
}
.label {
  float: left;
  width: rem-calc(84);
}
.user-label-with-icon:after{
  display: block;
  content: "";
  float: none;
  clear: both;
}
.notification-icon {
  position: absolute;
  top: rem-calc(8);
  left: rem-calc(31);
  color: white;
  width: rem-calc(14);
  height: rem-calc(13);
  overflow: hidden;
  border-radius: 100%;
  border: rem-calc(2) solid $dark-yellow;
  background-color: $dark-yellow;
  font-size: rem-calc(10);
}
