@import "~styles/foundation";
@import "~styles/colors";

.user-menu {
  width: rem-calc(148);
  overflow: hidden;
}
.user-menu-header{
  padding: rem-calc(10);
}
.user-menu-header-label{
  width: rem-calc(84);
}
