@import "~styles/foundation";
@import "~styles/colors";

.pagination-nav-item {
  display: block;
  float: left;
  margin-left: rem-calc(5);
  overflow: hidden;
}

.pagination-nav-item--previous {
  margin-right: rem-calc(12 - 5);
}

.pagination-nav-item--next {
  margin-left: rem-calc(12);
}

.pagination-nav-link {
  display: block;
  width: rem-calc(26);
  height: rem-calc(26);
  border: rem-calc(1) solid $neutral-tint;
  border-radius: rem-calc(26);
  color: $medium-tint;
  background-color: white;
  outline: none;
  line-height: rem-calc(26);
}

.pagination-nav-link--disabled {
  background-color: $lighter-tint;
  color: $neutral-tint;
  cursor: default;
}

.pagination-nav-item--more .pagination-nav-link {
  cursor: default;
}

.pagination-nav-link:hover {
  border: rem-calc(1) solid $primary-blue;
  color: $primary-blue;
}

.pagination-nav-link--selected,
.pagination-nav-link--selected:hover {
  background-color: $primary-blue;
  color: white;
}

.pagination-nav-item--more .pagination-nav-link:hover{
  border: rem-calc(1) solid $neutral-tint;
  color: $medium-tint;
}

.pagination-nav-link--disabled:hover{
  border: rem-calc(1) solid $neutral-tint;
  color: $neutral-tint;
}
